#app4 {
  border: 1px solid rgb(8, 95, 23);
}
@keyframes change {
  0% {
    background: rgb(92, 212, 188);
  }
  100% {
    background: rgb(255, 246, 117);
  }
}
#app4 .circle {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  border: 2px solid red;
}
#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}
